<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Shopping List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list> 
    <ion-item class="text" *ngFor="let item of items | async">
      <ion-input type="text" [(ngModel)]="item.name"></ion-input>
      <ion-input type="text" [(ngModel)]="item.amount"></ion-input>
      <button color="secondary" item-end ion-button round (click)="onEdit(item)"><ion-icon name="hammer"></ion-icon></button>
      <button color="danger" item-end ion-button round (click)="onDelete(item)"><ion-icon name="trash"></ion-icon></button>
    </ion-item>
  </ion-list>
  
  <ion-fab button right bottom>
    <button ion-fab (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
